<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="myLogger" class="spring.tutorial.implementations.LoggerImpl">
        <property name="name" value="myLogger"/>
        <property name="version" value="1" />
    </bean>
    <bean id="myUserRepository" class="spring.tutorial.implementations.UserRepositoryImplementations">
        <constructor-arg ref="myLogger" />
        <constructor-arg index="1"  value="http://127.0.0.1/path" />

    </bean>

</beans>